// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$text-field-outlined-label-position-y: 0;
// $text-field-outlined-label-position-x: -20px;
// $text-field-dense-label-top: 40px;
// $text-field-outlined-dense-label-position-x: -100px;
$text-field-outlined-dense-label-position-y: 0;
// $text-field-label-top: 50px;
// $text-field-outlined-dense-label-position-x: 5px;
// $text-field-padding: 8px -100px 8px -100px;
// $text-field-dense-padding: 2px 0 2px;
// $text-field-append-prepend-margin: 500px !default;
// $text-field-dense-append-prepend-margin: 200px;
$text-field-border-radius: 0;
// $text-field-shaped-border-radius: 0;
// $text-field-dense-label-active-transform:translateY(0) scale(1);

